{% extends 'base.html' %}

{% block body %}
{% load static %}
<div class="about">
    <div class="about-data">
        <div class="about-head">
            <h1>About US</h1>
            <h3>Who we are?</h3>
        </div>
        <div class="about-main">
            <div class="about-img">
                <img src="{% static 'images/about.jpg' %}"" alt="">
            </div>
            <div class=" about-matter">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, tempore optio illo vitae, ea hic
                    rem debitis qui possimus iusto laboriosam perferendis quaerat totam saepe et modi minima animi.
                    Dolore consequuntur molestiae ea nihil esse expedita autem possimus laboriosam ipsam quod, nostrum
                    molestias sequi laudantium sed animi obcaecati, cumque labore? Quo adipisci est facilis. Nihil eius
                    quidem harum unde provident voluptate repudiandae minus ex magni, aliquam iure vero aut accusantium?
                    Earum tenetur autem velit vel eaque ab tempora saepe voluptate magnam ex temporibus perspiciatis
                    repellendus laudantium qui, dolorem omnis quibusdam iure consequuntur in nesciunt reiciendis numquam
                    architecto quaerat! Possimus error corporis vel. Optio harum iusto enim necessitatibus aut. Nobis
                    mollitia ducimus necessitatibus similique. Quasi, magnam temporibus illum natus incidunt aperiam
                    inventore cupiditate numquam eveniet exercitationem laudantium iure expedita laboriosam illo
                    consectetur? Voluptate perspiciatis error excepturi, debitis possimus iure quos aut adipisci
                    repudiandae voluptatem quis aspernatur sint, exercitationem quam quidem culpa corporis iusto ut
                    alias dolorum sapiente placeat? Aperiam hic fugit totam impedit voluptatum rerum laborum labore. Ea,
                    dolores! Quidem totam excepturi, quam exercitationem earum unde officia, facere esse deserunt velit
                    voluptate perferendis veritatis, nulla ex dolorum? Tempora expedita aspernatur voluptatum eos</p>
                    <a href="" class="btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}