{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">


</head>

<body>

  <header>
    <div class="header">
      <div class="main-header">
        <div class="header-content">

          <div class="left-block">
            <div class="logo">
              <h2 style="cursor: pointer;"><a href="/">Blog.<span>Venture</span></a></h3>
            </div>
            <div class="list-items">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="right-block">
            <p> {{request.user.first_name}} {{request.user.last_name}}</p>
            <div class="auth-data">
              {% if request.user.is_authenticated %}
              <a href="{% url 'logout' %}" class="header-btn">Logout</a>
              {% else %}
              <a href="{% url 'login' %}" class="header-btn">Login</a>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </header>

  {% block body %}

  {% endblock %}

  <div className="footer"
    style="height: 40vh; display: flex; justify-content: center; align-items: center; background-color: #090514; border-radius: 25px 25px 0 0;">
    <div className="footer-container" style="display: flex; gap: 90px;">
      <div className="footer-box">
        <h1>Blog.Venture</h1>
      </div>
      <div className="footer-box">
        <h2>Contact Us</h2>
        <p className="foot-p" style="width: 300px;">
          Lorem Ipsum Pvt Ltd.5/1, Magalton Road, Phartosh Gate near YTM
          Market, XYZ-343434
        </p>
        <p>example2020@gmail.com</p>
        <p>[903] 443-0343</p>
      </div>
      <div className="footer-box">
        <h2>More</h2>
        <p>About Us</p>
        <p>Contact Us</p>
      </div>
      <div className="footer-box">
        <div className="main-box">
          <div className="box-social">
            <h2>Social Link</h2>
            <div className="social">
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-facebook"></i>
            </div>
          </div>
          <p>© 2023 Blog.Venture</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>