{% extends 'base.html' %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="hero-img">
  <img
    src="https://images.unsplash.com/photo-1503945438517-f65904a52ce6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="">
</div>

<div class="hero-data">
  <h1>Want an Edge in your <br> Blogging career?</h1>
  <p>Join us at <span>Blog.venture</span>, and get started</p>
  <a href="{% url 'addBlog' %}">Start -></a>
</div>

<div class="popular-blog">

  <div class="section1">

    <div class="blog-header">
      <h1>Popular Blogs</h1>
      <p>Get all the popular blogs here</p>
    </div>

    <div class="blog-cards">

      {% for obj in popularBlogs %}
      <div class="card">
        <div class="card-matter">
          <img src="/media/{{obj.cover}}" class="card-img-top" alt="...">
          <h5 class="card-header">{{obj.topic}}</h5>
          <div class="card-body">
            <div class="card-text">
              <p>{{obj.content|safe|truncatechars:150|linebreaks}}</p>
              <a href="{% url 'viewBlog' obj.id %}" class="view-more">View More</a>
            </div>
            <div class="card-bottom">
              <div class="card-date">
                <p>Posted date</p>
                <span>{{obj.postDate}}</span>
              </div>
              <div class="card-author">
                <p>Author</p>
                <span>{{obj.author}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>

  <div class="section2">

    <div class="blog-header">
      <h1>Newest Blogs</h1>
      <p>Explore more blogs here</p>
    </div>

    <div class="blog-cards">

      {% for obj in regularBlogs %}
      <div class="card">
        <div class="card-matter">
          <img src="/media/{{obj.cover}}" class="card-img-top" alt="">
          <h5 class="card-header">{{obj.topic}}</h5>
          <div class="card-body">
              <div class="card-text">
                <p>{{obj.content|safe|truncatechars:150|linebreaks}}</p>
                <a href="{% url 'viewRegular' obj.id %}" class="view-more">View More</a>
              </div>
              <div class="card-bottom">
                <div class="card-date">
                  <p>Posted date</p>
                  <span>{{obj.postDate}}</span>
                </div>
                <div class="card-author">
                  <p>Author</p>
                  <span>{{obj.author}}</span>
                </div>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>

</div>

{% endblock %}